html,body {
    margin: 0;
    align-items: center;
}
.herdear{
    height: 50px;
    background-image: linear-gradient(120deg,#3498db,#8e44ad);

  
    padding: 12px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: oblique;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
  }
  
  
  .iconabout{
    font-size: 1.5rem;
  }
  .dialog{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity linear 0.2s;
  }
  .dialog:target{
    visibility: visible;
    opacity: 1;
  }
  .box{
    width: 400px;
    
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    margin-top: 50px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  
  
 .dialog-body{
  max-width: 400px;
  position: relative;
  display: flex;
  margin: auto;
 }
 .close{
   position: absolute;
 
  right: 30px;
  
  height:10px ;
  width: 20px;
  text-decoration: none;
  color: #000;
 

 }
 .fab{
   color: blue;
 
 
 }
 .fab:hover{
   color: cornsilk;
 }
 .overlay-close{
   position: absolute;
   height: 100%;
   width: 100%;
 }
.bao_ngoai{
  
  width: 80vw;
  height: 80vh;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.camera{
  height: 30vh;
  width: 35vw;
  border-radius: 5%;
  display: flex;
  margin-left: 10vw;
  border-style: solid;
}
.cam{
  font-size: 1.5em;
  margin-left: 10px;
  margin-top: 9px;
  color: red;
}
.thongtin{
  display: flex;
  height: 30vh;
  width: 25vw;
  margin-left: 50px;
  border-radius: 5%;
  border-style: solid;
}
.baotrong{
  display: flex;
  margin-top: 10px;
}
.lights{
  font-size: 1.5em;
  margin-left: 10px;
  margin-top: 9px;
  color: red;
}
.input{
 
  display: flex;
  margin-top: 80px;
  margin-left: 250px;

}
.test1{
  padding: 10px;
  margin-right: 8vw;
}
.test2{
  margin-right: 8vw;
}
.test3{
  margin-right: 8vw;
}
.button{
  display: flex;
 margin-left: 335px;

  margin-top: 30px;

}
.bt1{
  padding: 40px;
  margin-right: 200px;
  border-radius: 50%;
  background-color: red;
}
.bt2{
  padding: 40px;
  border-radius: 50%;
  background: yellow;
}
.bt3{
  margin-left: 210px;
  padding: 40px;
  border-radius: 50%;
  background: green;
}
.bt1:hover{
 background: honeydew;
}
.bt2:hover{
background:  honeydew;
}
.bt3:hover{
background:  honeydew;
}
h1{
color: black;
}
.btreset {
	background-color:#44c767;
	border-radius:23px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btreset:hover {
	background-color:#5cbf2a;
}
.btreset:active {
	position:relative;
	top:1px;
}
.bt4{
  margin-top:30px ;
  margin-right: 50px;
}
        
